    #areaForPaint {
        border: 2px solid darkblue;
        height: 610px;
        background-image: url("<?= Yii::$app->homeUrl.'app/images/lokasi.PNG' ?>"); 
        background-repeat: no-repeat;
        background-size: 700px;
        width: 700px;
        /* height: 350px; */
        position: absolute;
        left: 52%;
        top: 0px;
        margin: 0 -300px;
        margin-top: 20px;
    }
    .preview{
        border: 2px solid darkblue;
        height: 610px;
        background-image: url("<?= Yii::$app->homeUrl.'app/images/lokasi.PNG' ?>"); 
        background-repeat: no-repeat;
        background-size: 700px;
        width: 700px;
        /* height: 350px; */
        position: relative;
        left: 60%;
        margin: 0 -420px;
        margin-top: 20px;
    }
    #paint{
        /* margin-top: -275px; */
    }
    #tmp_canvas {
        position: absolute;
        left: 0px;
        right: 0;
        bottom: 0;
        top: 0;
        cursor: crosshair;
    }

    #text_tool {
        position: absolute;
        border: 1px dashed black;
        outline: 0;
        display: none;
        font-family: "Lucida Grande", sans-serif;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
    }

    #tools{
        padding-top: 20px;
        float: left;
        width: 100%;
        margin-left: 5px;
    }

    /* #colors{
        float: left;
        position: absolute;
        margin-top: 310px;
        width: 70px;
        margin-left: 140px;
    } */

    /* #manage{
        float: left;
        position: absolute;
        width: 100px;
        margin-top: 160px;
        margin-left: 50px;
    } */

    .tuls *{
        margin: 5px;
    }

    /* #functions{
        float: left;
        position: absolute;
        width: 200px;
        margin-top: 350px;
        margin-left: 5px;
    } */

    /* #functions *{
        margin: 5px;
    } */


    #copy{
        margin-top: 40px;
    }

    #content{
        text-align: center;
    }


    .black, .white, .blue, .green, .yellow, .red {

        width: 20px;
        height: 20px;
    }

    .black {
        background-color: #000000;
    }

    .white {
        background-color: #FFFFFF;
    }

    .blue {
        background-color: #0000FF;
    }

    .green {
        background-color: #008000;
    }

    .yellow {
        background-color: #FFFF00;
    }

    .red {
        background-color: #FF0000;
    }

    .purple {
        background-color: #800080;
    }